apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: hub
  namespace: openshift-gitops
spec:
  destination:
    server: 'https://kubernetes.default.svc'
  project: default
  source:
    path: gitops/platform/platform-manifests/hub
    repoURL: 'https://github.com/shirodkar/serverless-demo.git'
    targetRevision: HEAD
  syncPolicy:
    automated:
      enabled: true
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true