apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: infra
  namespace: openshift-gitops
  labels:
    argocd.argoproj.io/sync-wave: "2"
spec:
  destination:
    server: 'https://kubernetes.default.svc'
  project: default
  source:
    chart: infra
    path: gitops/platform/infra
    repoURL: 'https://github.com/shirodkar/serverless-demo.git'
    targetRevision: HEAD
    directory:
      recurse: true
  syncPolicy:
    automated:
      enabled: true
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true